*{
    margin: 0px;
    padding: 0px;
}
/* nav-section */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(167, 167, 161);
    padding: 20px;
    align-items: center;
}
.nav-menu{
    display: flex;
    list-style: none;
    color: rgb(243, 236, 236);
    gap: 15px;
    font-size: 20px;
    font-style: italic;
}
 /* banner-section */
.banner-container{
    height: 100vh;
    background-image: url("image/background.jpg"),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.banner-title{
    padding-top: 180px;
    font-size: 55px;
}
.red-text{
    color: rgb(244, 60, 60);
}
/* button-section */
.button{
    padding: 12px 15px;
    border: none;
    margin-top: 10px;
}
.bg-primary{
    background-color: red;
    color: white;
}
/* service-section */
.service-container{
    height: 100vh;
    background-image: url("image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    color: white;
    display: flex;
    padding: 20px;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    width: 150px;
    height: 100px;
    padding: 50px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
}
.service-title{
    padding-top: 10px;
}
.service-description{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.service-items{
    display: flex;
}
.first-two-box{
    padding: 3px;
}
.second-two-box{
    padding: 3px;
}
.list{
    margin-left: 15px;
}
/* author-section */
.profile{
    width: 70px;
    border-radius: 35px;
    padding-right: 10px;
}
.author-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    border-right: 2px solid red;
    padding-right: 20px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
/* appointment-section */
.appointment-container{
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: -40px;
}
.contact{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
